.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px 0px 10px 0px;
  box-shadow: 4px 5px 10px black;
}
.buttonLogin {
  padding: 10px 70px 10px 70px !important;
  box-shadow: 2px 2px 6px black;
}
.card {
  box-shadow: 2px 2px 6px black;
  padding: 0px !important;
  position: absolute;
}
.notes{
  color: black !important;
}
.p-autocomplete-panel{
  z-index: 2000 !important;
}
.profilEnd{
  padding-bottom: 50px;
  padding-left: 5px;
  background-color: #d1d8e0;
}
.buttonPay{
  padding: 5px 55px 5px 55px !important;
}
.inputNb{
  width: 600px;
}
.spanTitle{
font-size: 13px;
font-style: italic;
color: red;
}
.logoLogin{
  box-shadow: 2px 2px 6px black;
}
.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
      width: 100%;
      min-width: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
