body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/font.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font {
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 7px black;
}
.font1 {
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 7px black;
  padding: 12px;
}
.note {
  color: red;
}
.client {
  width: 100% !important;
}

.home {
  background-color: white;
}
