.note {
   font-size: 18px; 
}
.error {
   color: #dc3545;
   font-size: .875em;
}
 .progress-bar-green {
   background-color: #05c46b!important;
}
.progress-bar-yellow {
   background-color: #ffdd59 !important;
}
.progress-bar-orange {
   background-color: #ffa801 !important;
}
.progress-bar-red {
   background-color: #b71540 !important;
}
.fa-hospital-user {
   color: #78e08f;
   transition: 0.3s;
}
.fa-hospital-user:hover {
   color: #b71540;
}
 